.container {
  display: grid;
  height: 100vh;
  place-content: center;
}
.logInButton {
  margin: 0 auto;
  width: 200px;
  height: 40px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);

  display: grid;
  place-content: center;
}
.logInButton:hover {
  transform: scale(1.05);
}
